# Put this in /lib/systemd/system
# Then
# sudo chmod 644 <filename>
# sudo systemctl daemon-reload
# sudo systemctl enable <filename>

[Unit]
Description=Personal Finance Webapp
After=network.target

[Service]
User=bobrock
Group=bobrock
WorkingDirectory=/home/bobrock/extras/grackle
Environment="PATH=/home/bobrock/venvs/grackle/bin"
ExecStart=/home/bobrock/venvs/grackle/bin/gunicorn --workers 2 --bind 127.0.0.1:5005 -m 007 wsgi:app --access-logfile '-' --error-logfile '-' --log-level 'debug'
Restart=on-failure

[Install]
WantedBy=multi-user.target