/* main page */
body {
    padding-bottom: 70px;
    background-color: #2e2f35;
}

h2,
body,
.table-wrapper label,
.table-wrapper div[role="status"] {
    color: #acacac;
}

.nav-logo {
    width: 25px;
}

.nav-item.active > a {
    color: #ffdb00 !important;
}

/* footer */
footer .container {
    width: 100%;
    line-height: 60px;
}

.footer .navbar.fixed-bottom {
    border-top: 1px double #acacac;
    background-color: #2e2f35;
}

.text-muted {
    color: #958D4A !important;
}

/*Compare form section*/
form > div.mvm-section {
    background-color: antiquewhite;
    padding: 15px;
    border: 1px dotted #acacac;
}
.mvm-submit {
    float: right;
    left: 15px;
    position: relative;
}

/* Finance tables */
.val.zero,
.diff.zero {
    color: #acacac;
}

table.expense-table td.diff.pos,
table.income-table td.diff.neg{
    color: red;
}
table.expense-table td.diff.neg,
table.income-table td.diff.pos {
    color: mediumseagreen;
}

table th.val-header,
table td.val,
table td.diff {
    text-align: right;
}
table tr.total,
.entries-table tfoot td {
    font-weight: bold;
}

/* Invoice tables */
.invoices-table {
    width: auto;
}
.invoices-table tr.paid td:first-child {
    color: #00af71;
}
.invoices-table tr.unpaid td:first-child {
    color: #fd0923;
}

#invoice-title {
    font-size: 2em;
}
