/* main page */
body {
    padding-bottom: 70px;
    background-color: #2e2f35;
}

h2,
pre,
body,
.table-wrapper label,
.table-wrapper div[role="status"] {
    color: #acacac;
}

.nav-logo {
    width: 25px;
}

.nav-item.active > a {
    color: #ffdb00 !important;
}

/* footer */
footer .container {
    width: 100%;
    line-height: 60px;
}

.footer .navbar.fixed-bottom {
    border-top: 1px double #acacac;
    background-color: #2e2f35;
}

.text-muted {
    color: #958D4A !important;
}





#invoice-title {
    font-size: 2em;
}
