/* Copy / CSV buttons on datatables */
.dataTables_wrapper {
    position: relative;
}
div.dt-buttons{
    position: absolute;
    right: 0px;
    top: -50px;
}

/* Finance tables */
.val.zero,
.diff.zero {
    color: rgba(172, 172, 172, 0.30);
}

table.expense-table td.diff.neg,
table.income-table td.diff.neg,
table.overall-table td.diff.neg {
    color: red;
}
table.expense-table td.diff.pos,
table.income-table td.diff.pos,
table.overall-table td.diff.pos {
    color: mediumseagreen;
}

table.expense-table thead td,
table.expense-table thead th,
table.income-table thead td,
table.income-table thead th,
table.overall-table thead td,
table.overall-table thead th,
table.expense-table.table-bordered,
table.income-table.table-bordered,
table.overall-table.table-bordered,
table.expense-table.table-bordered td,
table.expense-table.table-bordered th,
table.income-table.table-bordered td,
table.income-table.table-bordered th,
table.overall-table.table-bordered td,
table.overall-table.table-bordered th {
    border: 1px dotted rgba(222, 226, 230, 0.71);
}


.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 1px;
}

table th.val-header,
table td.val,
table td.diff,
table td.invoice-total {
    text-align: right;
}

table tr.total,
.entries-table tfoot tr td {
    font-weight: bold;
}

.subcat:before {
    content: '....'
}

.subcat {
    padding-left: calc(attr(data-level) * 40px) !important;
}
tr[data-level="0"] {
    font-weight: bold;
    border-top: 1px solid rgba(211, 211, 211, 0.68);
}
tr[data-level="1"] .subcat {
     padding-left: calc(1 * 40px) !important;
}
tr[data-level="2"] .subcat  {
     padding-left: calc(2 * 40px) !important;
}
tr[data-level="3"] .subcat  {
     padding-left: calc(3 * 40px) !important;
}

/* Invoices table */
#current-balance-tbl {
    width: 200px;
}
#current-balance-tbl td:nth-child(2) {
    text-align: right;
}

#invoices-tbl tr.paid td:first-child {
    color: #00af71;
}
#invoices-tbl tr.unpaid td:first-child {
    color: #fd0923;
}
table td.center-date,
#invoices-tbl tr td:first-child,
#invoices-tbl tr td:nth-child(2),
#invoices-tbl tr td:nth-child(4) {
    text-align: center;
}

/* Invoice entries table */
#invoice-tbl tfoot tr td {
    font-weight: bold;
}
