{% extends 'base.html' %}

{% block content %}
    <h2>Personal Finance</h2>
    <div id="invoice-list">
        <table class="table table-bordered invoices-table">
            <thead>
                <tr>
                    <th class="paid-col">Paid</th>
                    <th>Invoice</th>
                    <th>Created</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Date Paid</th>
                </tr>
            </thead>
        {% for invoice in invoices %}
            <tr class="{{ 'paid' if invoice.is_paid else 'unpaid' }}">
                <td class="fa {{ 'fa-check' if invoice.is_paid else 'fa-times' }}"></td>
                <td><a href="/invoice/{{ invoice.invoice_no }}">{{ invoice.invoice_no }}</a></td>
                <td>{{ invoice.created_date.strftime('%Y-%m-%d') }}</td>
                <td>
                    {% if invoice.is_paid %}
                        {{ 'completed' }}
                    {% elif invoice.is_posted %}
                        {{ 'ready' }}
                    {% else %}
                        {{ 'in progress' }}
                    {% endif %}
                </td>
                <td class="invoice-total">{{ '{:,.2f}'.format(invoice.total) }}</td>
                <td>{{ invoice.paid_date.strftime('%Y-%m-%d') if invoice.is_paid else ''}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}