{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    {% include 'components/table.html' %}
{% endblock %}
{% block content %}
    <div id="invoice-info">
            <span id="invoice-title">Invoice {{ invoice.invoice_no }}</span>
            <div>
                <div>
                    <span class="badge badge-primary">created</span>
                    <span class="badge badge-secondary">{{ invoice.created_date.strftime('%Y-%m-%d') }}</span>
                </div>
                <div>
                    <span class="badge badge-{{ 'success' if invoice.is_paid else 'danger' }}">
                        <span class="fa fa-{{ 'check' if invoice.is_paid else 'times' }}">{{ ' paid' if invoice.is_paid else ' unpaid' }}</span>
                    </span>
                    {% if invoice.is_paid %}
                        <span class="badge badge-secondary">{{ invoice.paid_date.strftime('%Y-%m-%d') }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    <div id="invoice-entry-list">
        <table class="table table-sm table-bordered table-striped table-dark" id="{{ tbl_id_name }}">
            <thead>
                <tr>
                    {% for hdr in headers %}
                        <th>{{ hdr }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry.transaction_date.strftime('%F') }}</td>
                        <td>{{ entry.description }}</td>
                        <td>{{ "{:.2f}".format(entry.quantity) }}</td>
                        <td>{{ "{:.2f}".format(entry.unit_price) }}</td>
                        <td>{{ "{:.2f}".format(entry.discount) }}</td>
                        <td>{{ "{:.2f}".format(entry.total) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    {% set n_cols = headers|length %}
                    {% for i in range(n_cols) %}
                        {%  if i == n_cols - 2 %}
                            <td>Total: </td>
                        {%  elif i == n_cols - 1 %}
                            <td>{{ "{:.2f}".format(invoice.total) }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
