{% extends 'base.html' %}

{% block content %}
   <h2>Select month to compare with budget</h2>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <form method="POST" action="{{ url_for('finances.select_mvb') }}">
        {{ form.csrf_token }}
        <div class="row mvb-section">
            <div class="col">
                <fieldset>
                    {{ form.budget_name.label }}
                    {{ form.budget_name(class_="form-control") }}
                </fieldset>
            </div>
            <div class="col">
                <fieldset>
                    {{ form.year.label }}
                    {{ form.year(class_="form-control") }}
                </fieldset>
            </div>
            <div class="col">
                <fieldset>
                    {{ form.month.label }}
                    {{ form.month(class_="form-control") }}
                </fieldset>
            </div>
        </div>
        <div class="form-group mvm-submit">
            {{ form.submit(class_="btn btn-primary mvm-submit-btn") }}
        </div>
    </form>
{% endblock %}
