{% extends 'base.html' %}

{% block content %}
   <h2>Select months to compare</h2>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <form method="POST" action="{{ url_for('finances.select_mvm') }}" >
        {{ form.csrf_token }}
        <div class="row mvm-section">
            <div class="col">
                <fieldset>
                    {{ form.focus_yyyy.label }}
                    {{ form.focus_yyyy(class_="form-control") }}
                </fieldset>
                <fieldset>
                    {{ form.compare_yyyy.label }}
                    {{ form.compare_yyyy(class_="form-control") }}
                </fieldset>
            </div>
            <div class="col">
                <fieldset>
                    {{ form.focus_mm.label }}
                    {{ form.focus_mm(class_="form-control") }}
                </fieldset>
                <fieldset>
                    {{ form.compare_mm.label }}
                    {{ form.compare_mm(class_="form-control") }}
                </fieldset>
            </div>
        </div>
        <div class="form-field">
            <fieldset>
                {{ form.excl_repayments }}
                {{ form.excl_repayments.label }}
            </fieldset>
        </div>
        <div class="form-field">
            <fieldset>
                {{ form.currencies.label }}
                {{ form.currencies }}
            </fieldset>
        </div>
        <div class="form-group mvm-submit">
            {{ form.submit(class_="btn btn-primary mvm-submit-btn") }}
        </div>
    </form>
{% endblock %}
